<!-- app/views/welcome/index.html.erb -->

<h1>Witam Cię na moim blogu!</h1>

<ul>
 || <a href="articles">Lista artykułów</a> ||
  <%= link_to 'Stwórz artykuł', new_article_path, class: 'btn btn-success' %> ||
</ul>